/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fundo*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

h1 {
    color: white;
}

/*Alinhamento*/
.content {
    max-width: 1030px;
    margin: 30px auto;
    text-align: center;
}

.img-butt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    margin: 0 90px;
}

.img-butt input[type="button"] {
    height: 70px;
    width: 200px;
    font-size: 24px;
    border: none;
    box-shadow: 2px 2px 5px #333333;
    margin: 30px 0;
}

.border-rad {
    border-radius: 10px;
}

/*Alter Season*/
.alter-season {
    background-color: #F3D68A;
    font-size: 25px;
    border-radius: 10px;
    max-width: 450px;
    margin: 30px auto;
    padding: 20px 0;
}

#select-season {
    margin-left: 5px;
    height: 30px;
    font-size: 20px;
}

.alter-season input[type="button"] {
    background-color: #8B4513;
    color: white;
    height: 40px;
    width: 80px;
    font-size: 20px;
    border: none;
    box-shadow: 2px 2px 5px #333333;
    margin: 0px 10px;
}

/*Responsivity*/
@media (max-width: 1150px) {
    .content {
        width: 60vw;
    }

    img#season-image {
        margin-left: 15px;
        margin-right: 15px; 
    }

    #back {
        order: 3;
        margin-right: 10px;
    }

    #next {
        order: 4;
        margin-left: 10px;
    }
}

@media (max-width: 700px) {
    #back {
        margin-right: 0;
        margin-bottom: 6px;
    }
    
    #next {
        margin-left: 0;
        margin-top: 6px;
    }

    #select-season {
        margin-left: 5px;
        margin-top: 20px;
        height: 40px;
        width: 150px;
        font-size: 20px;
    }

    .alter-season input[type="button"] {
        margin: 20px 5px;
        height: 50px;
        width: 100px;
        font-size: 22px;
    }
}

@media (max-width: 650px) {
    img#season-image {
        width: 70vw;
    }

    h1 {
        font-size: 12vw;
    }
}

footer p {
    margin-top: 40px;
}