/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fundo*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background-color: #DB7093;
}

h1 {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 96px;
}

/*Alinhamento*/
.content {
    max-width: 1030px;
    margin: 30px auto;
    text-align: center;
}

.img-butt {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: 0 90px;
}

input[type="button"] {
    height: 70px;
    width: 200px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px #333333;
}

.img-butt #volta {
    background-color: #FEC9A1;
}

.img-butt #avanca {
    background-color: #800080;
    color: white;
}

